body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1f1f1f;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Heebo", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  /* margin-block-end: 0 !important;
  margin-block-start: 0 !important; */
  padding-inline-start: 0 !important;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.title {
  text-align: center;
  font-size: 5rem;
}

.navbar {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.containerLogo {
  padding: 2rem 0;
  margin: 0 10%;
}

p {
  text-align: center;
  line-height: 180%;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0.1rem;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
}

.containerHeader p {
  /* width: 80%; */
  width: 50%;
}

.containerHeader button {
  padding: 0.8rem;
  margin: 1rem 0;
  background-color: white;
  border: none;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
}

.sectionMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}

.containerImg {
  width: 100vw;
  position: relative;
}

.containerImg img {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.sectionProducts {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.containerProducts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90vw;
}

.product {
  width: 400px;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.product img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.1s linear;
}

.product img:hover {
  transform: scale(1.1);
}

.containerImg .overlayImg {
  position: absolute;
  z-index: 10;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  transition: 1s linear;
}

.containerImg .overlayImg:hover {
  opacity: 0.2;
}

.sectionMain .contentSectionMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionMain .contentSectionMain p {
  width: 80%;
  text-align: center;
}

/* LEARN MORE */

.sectionLearnMore {
  width: 100%;
  background-color: rgba(242, 241, 239, 1);
  margin-top: 2%;
}

.sectionLearnMore .contentLearnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionLearnMore .contentLearnMore p {
  width: 80%;
  text-align: center;
}

footer {
  margin-bottom: 5rem;
}

.socialContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style: none;
}

ul :nth-child(2) {
  padding: 0 1rem;
}

.containerSocial span {
  margin: auto;
  font-size: 0.7rem;
}

.sectionLearnMore {
  padding-top: 2%;
}

.sectionLearnMore .containerImg {
  margin: auto;
}
